// Bachelor of Software Engineering 
// Media Design School 
// Auckland 
// New Zealand 
// (c) Media Design School
// File Name : TrianglePatch.te
// Author : William Inman
// Mail : william.inman@mds.ac.nz

#version 460 core

layout (triangles, equal_spacing, ccw) in;

uniform mat4 PVMMatrix;

// received from Tessellation Control Shader - all texture coordinates for the patch vertices
in vec2 TextureCoords[];

out vec2 TexCoords;

void main()
{
	// Interpolate and get texture coords
	TexCoords =
    gl_TessCoord.x * TextureCoords[0] +
    gl_TessCoord.y * TextureCoords[1] + 
    gl_TessCoord.z * TextureCoords[2]; 

	// interpolate and get position
    gl_Position = PVMMatrix * (
	gl_TessCoord.x * gl_in[0].gl_Position +
	gl_TessCoord.y * gl_in[1].gl_Position +
	gl_TessCoord.z * gl_in[2].gl_Position );
}

	